version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      semver-major-days: 90
      semver-minor-days: 30
      semver-patch-days: 15
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
